<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-title>
      Cutre-MD5 Generator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cutre-MD5 Generator</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Text to encode</strong>
    <ion-input label="" (ionInput)="generateMD5($event)"></ion-input>
    <strong>MD5</strong>
    <ion-input #md5Result label="" value="" [disabled]="true" (click)="copyToClipboard($event)"></ion-input>
    <br/><br/>
    <ion-toggle (ionChange)="toggleUppercase($event)" [(ngModel)]="uppercase">Checked Toggle</ion-toggle>
  </div>
</ion-content>
